:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --btn-outline-color: #000000;
  --btn-background-color: #bdbdbd;
}

[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #ffffff;
  --btn-outline-color: #ffffff;
}

html[data-bs-theme="dark"] body {
  --bs-body-bg: #111 !important;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  transition:
    background-color 0.3s,
    color 0.3s;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn-outline-light,
.btn-outline-dark {
  border-color: var(--btn-outline-color);
  color: var(--btn-outline-color);
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  transform: translateX(0);
  transition: transform 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#sidebar.collapsed {
  transform: translateX(-250px);
  box-shadow: none;
}

#sidebar a {
  color: #e0e0e0;
  text-decoration: none;
  border-radius: 12px;
  margin-bottom: 3px;
}

#sidebar .nav-link.active {
  background-color: #333;
}

#sidebar .nav-link:not(.active):hover {
  background-color: #2a2a2a;
}

#sidebarCollapse {
  position: absolute;
  border: none;
  padding: 4px 8px;
  top: 10px;
  left: 260px;
  z-index: 1050;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

#sidebarCollapse:hover {
  background-color: var(--btn-background-color);
}

#sidebarCollapse.shift {
  transform: translateX(-250px);
}

#content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

#content.shift {
  margin-left: 0;
}

main {
  padding: 20px;
}

@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    transform: translateX(0);
  }

  #sidebar.collapsed {
    transform: translateX(-100%);
  }

  #content {
    display: none;
  }
  #content.shift {
    display: block;
  }

  #showSidebar {
    display: block;
  }

  #sidebarCollapse,
  #themeToggle {
    display: block !important;
    position: fixed;
    top: 10px;
    right: 20px;
    left: auto;
    z-index: 2000;
  }
  #sidebarCollapse {
    margin-right: 50px;
  }
}
