/* Root Variables */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --btn-outline-color: #000000;
  --btn-background-color: #bdbdbd;
}

/* Dark Theme Variables */
[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #ffffff;
  --btn-outline-color: #ffffff;
}

/* Body Styles */
html[data-bs-theme="dark"] body {
  --bs-body-bg: #111 !important;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  transition:
    background-color 0.3s,
    color 0.3s;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Button Styles */
.btn-outline-light,
.btn-outline-dark {
  border-color: var(--btn-outline-color);
  color: var(--btn-outline-color);
}

/* Sidebar Styles */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  transform: translateX(0);
  transition: transform 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#sidebar.collapsed {
  transform: translateX(-250px);
  box-shadow: none;
}

/* Sidebar Links */
#sidebar a {
  color: #e0e0e0;
  text-decoration: none;
  border-radius: 12px;
  margin-bottom: 3px;
}

#sidebar .nav-link.active {
  background-color: #333;
}

#sidebar .nav-link:not(.active):hover {
  background-color: #2a2a2a;
}

/* Sidebar Collapse Button */
#sidebarCollapse {
  position: absolute;
  border: none;
  padding: 4px 8px;
  top: 10px;
  left: 260px;
  z-index: 1050;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

#sidebarCollapse.shift {
  transform: translateX(-250px);
}

/* Content Styles */
#content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

#content.shift {
  margin-left: 0;
}

iframe {
  color-scheme: light;
}

/* Buttons */
#sidebarCollapse,
#themeToggle,
#returnHome {
  position: revert;
  border: none;
  padding: 4px 8px;
  transition: opacity 0.3s ease;
}

#themeToggle:hover, #sidebarCollapse:hover, #returnHome:hover {
  background-color: var(--btn-background-color);
}

/* Language Flag Styles */
.language-flag {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

#sidebar .dropdown-menu {
  background-color: #111;
  color: #ffffff;
}

/* Manage Self List Item */
li.manage-self {
  padding: 8px;
  display: flex;
  align-items: center;
}

button.manage-self:hover,
.log-out:hover {
  color: #f44040;
}

/* Dropdown Menu Styles */
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-pfp {
  margin-right: 5px;
  max-width: 25px;
  border-color: #6c757d;
  border-style: solid;
  border-width: 2px;
}

/* Full Height for HTML, Body, and Content */
html,
body,
#content {
  height: 100%;
}

#content {
  overflow-y: auto;
}

.h-90 {
  height: 90%;
}

/* Custom Scrollbar Styles */
@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: hsl(0, 0%, 60%) var(--bg-color);
    scrollbar-width: thin;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 60%);
  border: 0.1em solid var(--bg-color);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 50%);
}
