<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center mb-4">{{t 'login.access' }}</h2>
            <div class="card">
                <div class="card-body">
                    <h5>{{t 'login.to_login' }}</h5>
                    <p>{{t 'login.message' }}</p>
                    <a class="btn btn-twitch" href="/auth/general"><i class="bi bi-twitch"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>