<style>
    .btn-twitch {
        background-color: #9146FF;
    }
</style>

<h1>Opções</h1>
<p>Esta é a página de opções, onde serão configurados algumas coisas relacionado ao bot e seu canal.</p>
<a class="btn btn-twitch" href="/auth/advanced"><i class="bi bi-twitch"></i></a>