<style>
    .btn-twitch {
        background-color: #9146FF;
    }
</style>

<h1>{{t 'options.title'  }}</h1>
<p>{{t 'options.message'  }}</p>
<a class="btn btn-twitch" href="/auth/advanced" data-bs-toggle="tooltip" data-bs-title="{{t "options.advanced_message"}}"><i class="bi bi-twitch"></i></a>